// Styling for the masthead
header.masthead {
    text-align: center;
    color: $gray-100;
    // background-image: url('../img/header-specs.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/header-specs.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
            font-size: 1.5rem;
            font-style: italic;
            line-height: 1.5rem;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-heading {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 2.5rem;
            margin-bottom: 25px;
            @include heading-font;
        }
        .cta {
            padding: 1rem 2rem;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            padding-top: 200px;
            padding-bottom: 200px;
            .intro-lead-in {
                font-size: 1.5rem;
                font-style: italic;
                line-height: 1.5rem;
                margin-bottom: 25px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 2.75rem;
                font-weight: 700;
                line-height: 2.75rem;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            font-size: 20px;
            line-height: 50px;
            display: block;
            width: 50px;
            height: 50px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.5s;
            color: white;
            border-radius: 100%;
            outline: none;
            background-color: $gray-800;
            &:active,
            &:focus,
            &:hover {
                background-color: $primary;
            }
            img {
                width: 55%;
            }
        }
    }
}