#projects {
    .section-subheading {
        line-height: 2.2;
    }
    .portfolio-item {
        // max-width: 25rem;
        // margin-left: auto;
        // margin-right: auto;
        margin-bottom: 1.5rem;
        background-color: $white;
        .portfolio-caption {
            padding: 1.5rem;
            text-align: left;
            .portfolio-caption-heading {
                font-size: 2rem;
                font-family: $headings-font-family;
                font-weight: $headings-font-weight;
                margin-bottom: 0;
            }
            .portfolio-caption-subheading {
                font-style: italic;
                font-family: $subheadings-font-family;
            }
        }
        .project-image,
        .project-description {
            padding: 1.5rem;
        }
        .portfolio-content {
            text-align: left;
            ul.tech {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                span {
                    padding: 8px;
                    margin: 3px;
                    border-radius: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    transition: 0.3s;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        img {
            object-fit: cover;
            max-height: 100%;
        }
    }
}

.viz {
    background-color: rgba(lighten($primary, 30%), 0.3);
    &:hover {
        background-color: rgba(lighten($primary, 10%), 0.8);
        color: white;
    }
}

.model {
    background-color: rgba(lighten($tertiary, 30%), 0.3);
    &:hover {
        background-color: rgba(lighten($tertiary, 5%), 0.9);
        color: white;
    }
}

.packages {
    background-color: rgba(lighten($secondary, 30%), 0.3);
    &:hover {
        background-color: rgba(lighten($secondary, 10%), 0.8);
        color: white;
    }
}